# Copyright (c) 2021-2022 Amlogic, Inc. All rights reserved.

# SPDX-License-Identifier: MIT

menu "RISCV Options"

config RISCV
	bool
	select KERNEL
	help
	  RISC-V architecture

config VERSION_FULL_INFO
	bool "Version full information"
	help
	  Select print full version information.

endmenu
